.circle {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
}

.ring-text {
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.number {
  font-size: 40px;
  font-weight: bold;
}
